<% event.invitations.each do |i| %>
  <% if i.status == "Confirmed" %>
    <% if i.user.name.nil? %>
      <div class="notification mr-4">
        <div class="marker">
          <h3><%= i.user.email[0].capitalize %></h3>
        </div>
        <div class="notification-content text-break">
          <p><small><%= i.user.email %></small></p>
        </div>
      </div>
    <% else %>
      <div class="notification mr-4">
        <div class="marker">
          <h3><%= i.user.name[0].capitalize %></h3>
        </div>
        <div class="notification-content text-break">
          <p><small><%= i.user.name %></small></p>
        </div>
      </div>
    <% end %>
  <% else %>
     <% if i.user.name.nil? %>
      <div class="notification mr-4">
        <div class="marker avatar-large-pending">
          <h3><%= i.user.email[0].capitalize %></h3>
        </div>
        <div class="notification-content text-break">
          <p><small><%= i.user.email %></small></p>
        </div>
      </div>
    <% else %>
      <div class="notification mr-4">
        <div class="marker avatar-large-pending">
          <h3><%= i.user.name[0].capitalize %></h3>
        </div>
        <div class="notification-content text-break">
          <p><small><%= i.user.name %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
