<div class="navbar navbar-expand navbar-light navbar-lewagon">
  <div class="container">
  <% img = image_tag("logo.png") %>

   <%= image_tag "logo.png", class: "navbar-brand", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
   <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Home", "/", class: "dropdown-item" %>
            <%= link_to "Your events", events_path, class: "dropdown-item" %>
            <%= link_to "Create new event", new_event_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>

  </div>
</div>
