<div class="div-shape-sm div-gradient">
  <div class="container">
    <h2 class="mb-2">Let's party!</h2>
  </div>
</div>

<div class="container form-post mt-4 mb-4">
  <%= simple_form_for(@event) do |f| %>
      <div class="form-inputs">
        <div class="form-row">
        <%= f.input :name, input_html: {maxlength: 24, size: 40}, placeholder: "Give your event a name", class: "col-xs-6" %>
        </div>
        <%= f.association :cuisine_events, as: :check_boxes, collection: Cuisine.all, input_html: { multiple: true }, include_hidden: false %>

        <!-- <div class="category-choices">
          <% Cuisine.all.each do |cuisine| %>
          <input type="checkbox" class="hidden" value="<%= cuisine.id %>" name="post cuisine_events" id="post_cuisine_ids_<%= cuisine.id %>">
            <label for="post_cuisine_ids_<%= cuisine.id %>">
              <%= cuisine.name %>
            </label>
          <% end %>
         </div> -->

        <%= f.input :description, input_html: {maxlength: 60, size: 100}, placeholder: "Add a comment for your friends!" %>
        <%= f.input :start_at, as: :datetime, html5: true, input_html: {class: "datepicker"}, class: "form-width" %>
      </div>
      <div class="form-actions">
          <%= f.button :submit, class:"btn btn-block d-btn-dark p-2" %>
      </div>
  </div>
<% end %>




