
<% img = image_tag("logo.png") %>
<div class="div-shape-sm">
  <div class="container">
    <h2 class = "banner">Let's party! 🎉</h2>
  </div>
</div>

<div class="container">
  <%= simple_form_for(@event, html: {class: "mt-4 mb-4"}) do |f| %>
      <div class="form-inputs">
      <%= f.input :name, label: "What's happening?" , input_html: {maxlength: 24, size: 40}, placeholder: "Give your event a name", class: "col-xs-6",:label_html => { :class => 'label' }, :wrapper_html => { class: "icon-field"} %>

        <%= f.association :cuisine_events, :label => "What food are your friends into?", collection: Cuisine.all, input_html: { multiple: true, data: {:placeholder => '100\'s of cuisines'} }, include_hidden: false, :label_html => { :class => 'label'},:wrapper_html => { class: "icon-field"} %>

        <%= f.input :description, label: "What's the occasion?",input_html: {maxlength: 60, size: 100}, placeholder: "Add a comment for your friends!",:label_html => { :class => 'label' }, :wrapper_html => { class: "icon-field"} %>

        <%= f.input :start_at, label: "When do you want to do this?", as: :datetime, html5: true, input_html: {class: "datepicker"}, placeholder: "Add a comment for your friends!", :label_html => { :class => 'label' }, :wrapper_html => { class: "icon-field"} %>
      </div>
      <div class="form-actions mt-4 mb-4">
          <%= f.button :submit, "Next", class:" submit" %>
      </div>
  <% end %>
</div>





