<div class="container d-flex">
  <div>
    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.start_at %></p>
  </div>
  <div>
    <ul>
      <% @event.invitations.each do |i|%>
        <li><%= i.user.email %></li>
      <% end  %>
    </ul>
  </div>
</div>

<ul><strong>Proposed Suggestions</strong>
  <% @event.cuisine_events.each do |cuisine_event|%>
  <li><%= cuisine_event.cuisine.name %></li>
  <% end %>
</ul>

<p><%= link_to "Create invitation here", new_event_invitation_path(@event) %></p>
