<div class="mobile-frame row">
  <div class="col-md-6">
    <div class="map-event">
      <div id="map" style="height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="event-content col-md-6">
    <div class="bgc-event">
      <div class="container pt-3">
        <%= link_to image_tag("logo-crop.png", class: "logo-body mb-3"), "/" %>
        <h2 class="mb-3"><strong><%= @event.name %></strong></h2>
        <h6><em>On <%= @event.start_at.strftime("%A, %b %d") %> at </i><%= @event.start_at.strftime("%I:%M %P") %></em></h6>
        <p class="mb-4"><%= @event.description %></p>
        <h6 class="mb-3"><strong>Invite friends</strong></h6>
        <h6>INVITE LINK</h6>
        <%= simple_form_for(:invite, url: event_invite_path(@event), method: :post, remote: true) do |f| %>
          <%= f.input :email, label: false, wrapper_html: {class: "d-flex justify-content-between"} do %>
            <%= f.input_field :email, as: :email, placeholder: "  Friend's email address", class: "email-input-form" %>
            <%= f.button :submit, '+',id: "js-friend-email-btn" ,class: "email-input-btn", label_html: { class: 'input-group-append'} %>
          <% end %>
        <% end %>
        <h6 class="mb-3"><strong>Who's coming</strong></h6>
        <div class="d-flex notification-container mb-3" id="invite-container" data-event-id="<%= @event.id %>">
            <%= render 'shared/invited', event:@event %>
        </div>

        <%= simple_form_for(:result, url:event_results_path(@event)) do |f| %>
          <%= f.button :submit, value:"Decide!", class: "js-sweetalert btn btn-block d-btn-light p-2"%>
        <% end %>
        <% if @invitation.cancelled? %>
          <%= link_to "Want to attend?", event_invitations_attendences_path(@event.id), class: "btn btn-block d-btn-transparent p-2 mt-3", method: :post %>
        <% else %>
          <%= link_to "Can't come?", event_invitations_attendence_path(@event.id), class: "btn btn-block d-btn-transparent p-2 mt-3", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
