<div class="div-shape div-gradient">
  <div class="container">
    <h2 class="mb-2 text-break"><%= @event.name %></h2>
    <p><i class="fas fa-calendar-day mr-3" ></i><%= @event.start_at.strftime("%A, %b %d") %></p>
    <p><i class="far fa-clock mr-3"></i><%= @event.start_at.strftime("%I:%M %P") %></p>
  </div>
</div>
<div id="map" class="map-overlap"  style="width: 100%; height: 12em;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="container mt-4 mb-4">
  <h5 class="text-center text-break"><i class="far fa-comment mr-3"></i><%= @event.description %></h5>
  <div class="mt-4 mb-4">

  <h6><strong>Invite friends</strong></h6>
  <%= simple_form_for(:invite, url: event_invite_path(@event), method: :post, remote: true) do |f| %>
    <%= f.input :email, label: false, wrapper_html: {class: "form-inline justify-content-between"} do %>
      <%= f.input_field :email, as: :email, placeholder: "Friend's email address" %>
      <%= f.button :submit, '+', class:"btn d-btn-dark", label_html: { class: 'input-group-append'} %>
    <% end %>
  <% end %>


  <div class="mt-4 mb-4">
    <h6><strong>Who's invited</strong></h6>
    <div class="list-friends d-flex flex-xl-wrap mt-4 mb-4 notification-container">
      <%= @invited_list  %>
    </div>


    <div class="d-flex flex-xl-wrap mt-4 mb-4 notification-container">
      <% @event.invitations.each do |i| %>
      <div class="notification mr-4 mb-4">
        <% if i.status == "accepted" %>
          <%= image_tag "assets/images/greencircle.png", alt: "user avatar", class: "avatar-large-confirmed" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", alt: "user avatar", class: "avatar-large-pending" %>
        <% end %>
        <div class="notification-content">
          <p><small><%= i.status %>. <%= i.user.email %></small></p>
        </div>
      </div>
      <% end %>
    </div>
     <%= button_to "Decide!", event_results_path(@event), class: "btn btn-block d-btn-dark p-2", method: :post %>
  </div>
</div>
