<div class="div-shape-sm div-gradient">
  <div class="container">
    <h2 class="mb-2"><%= @event.name %></h2>
  </div>
</div>

<div class="container mt-4">
    <p><i class="fas fa-calendar-day mr-3" style="color: #083D77;"></i><%= @event.start_at.strftime("%A, %b %d") %></p>
    <p><i class="far fa-clock mr-3" style="color: #083D77;"></i><%= @event.start_at.strftime("%I:%M %P") %></p>
    <p class="text-break"><i class="far fa-comment text-break mr-3" style="color: #083D77;"></i><%= @event.description %></p>
      <%= simple_form_for [@event, @invitation] do |f| %>
    <div class="form-inputs">
      <%= f.input :location, input_html: {id:"location"}, placeholder: "Where are you?" %>
      <%= f.input :cuisine_id, as: :select, collection: @event.cuisines, include_hidden: false,  label: "What do you want to eat?" %>
    </div>
  <!--   <textarea class="js-friends-value"></textarea> -->
    <div class="form-actions">
        <%= f.button :submit, class:'btn btn-block d-btn-dark p-2'%>
    </div>
  <% end %>
</div>
