<div class="container mt-4 event-index">
  <%= render 'shared/navbar_basic' %>
</div>

<div class="div-shape-sm mb-4">
  <div class="container">
    <h2 class = "banner-invitations">You're invited! 💌</h2>
  </div>
</div>

<div class="container">
   <h2 class="mb-2"><strong><%= @event.name %></strong></h2>
    <h6><em>On <%= @event.start_at.strftime("%A, %b %d") %> at <%= @event.start_at.strftime("%I:%M %P") %></em></h6>

    <%= simple_form_for [@event, @invitation] do |f| %>
    <div class="mt-4 form-inputs">
      <%= f.input :location, input_html: {id:"location"}, placeholder: "Your address" , :label_html => { :class => 'label'}, label: "What's your address?", required: true %>
      <%= f.input :cuisine_id, as: :select, collection: @event.cuisines, include_hidden: false, :label_html => { :class => 'label'}, label: "What do you want to eat?",input_html: { data: {:placeholder => 'Choose a cuisine'} }, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Join in', class:'submit'%>
    </div>
    <% end %>
</div>
